.header {
	position: fixed;
	background: transparent;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.header .header-user .button-user {
	padding: 10px 15px;
	min-width: 120px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.075em;
	font-weight: 500;
	border: 3px solid transparent;
	transition: var(--transition-default);
}

.header .header-user .button-user.button-login {
	background: var(--primary-color);
	border-color: var(--primary-color);
	color: var(--bs-white);
}

.header .header-user .button-user.button-login:hover {
	background: var(--primary-hover);
	border-color: var(--primary-hover);
	color: var(--bs-white);
}

.header .header-user .button-user.button-register {
	border-color: var(--primary-color);
	color: var(--primary-color);
}

.header .header-user .button-user.button-register:hover {
	border-color: var(--primary-color);
	background: var(--primary-color);
	color: var(--bs-white);
}

.header .header-navigation ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.header .header-navigation > ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.header .header-navigation > ul > li {
	position: relative;
}

.header .header-navigation > ul > li > a {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	white-space: nowrap;
	color: var(--text-secondary);
	font-size: 1.075em;
	font-weight: 500;
	transition: var(--transition-default);
	padding: 25px 0;
}

.header .header-navigation > ul > li > a > i {
	font-size: 1.3em;
}

.header .header-navigation > ul > li > a.active,
.header .header-navigation > ul > li:hover > a {
	color: var(--primary-color);
}

.header .header-navigation > ul > li > ul {
	position: absolute;
	background-color: var(--bs-white);
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(var(--bs-black-rgb), .1);
	display: block;
	font-size: 1em;
	left: 0;
	top: 100%;
	min-width: 200px;
	transition: var(--transition-default);
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	z-index: 1;
}

.header .header-navigation > ul > li > ul::before {
	border: 7px solid var(--bs-white);
	border-color: transparent transparent var(--bs-white) var(--bs-white);
	box-shadow: -2px 2px 2px -1px rgba(var(--bs-black-rgb), .1);
	content: "";
	left: 45px;
	position: absolute;
	top: 2px;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.header .header-navigation > ul > li:hover > ul {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.header .header-navigation > ul > li > ul > li {
	position: relative;
}

.header .header-navigation > ul > li > ul > li > a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
	white-space: nowrap;
	font-size: 1em;
	color: var(--text-secondary);
	transition: var(--transition-default);
	gap: 8px;
}

.header .header-navigation > ul > li > ul > li > a > i {
	font-size: 1.3em;
}

.header .header-navigation > ul > li > ul > li:hover > a {
	color: var(--primary-color);
	letter-spacing: .5px;
	padding-left: 20px;
}

.header .header-navigation > ul > li > ul > li + li {
	border-top: 1px solid #f0f0f0;
}

.header .header-navigation > ul > li > ul > li > ul {
	background-color: var(--bs-white);
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(var(--bs-black-rgb), .1);
	display: block;
	font-size: 1em;
	left: 100%;
	margin: 0;
	min-width: 200px;
	padding: 0;
	position: absolute;
	transition: var(--transition-default);
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	z-index: 1;
	top: 0;
}

.header .header-navigation > ul > li > ul > li > ul:before {
	border: 7px solid var(--bs-white);
	content: "";
	left: 45px;
	position: absolute;
	top: 20px;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	margin-left: -35px;
	box-shadow: 1px 1px 0 0 rgba(var(--bs-black-rgb), .15);
	border-color: transparent var(--bs-white) var(--bs-white) transparent;
}

.header .header-navigation > ul > li > ul > li:hover > ul {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.header .header-navigation > ul > li > ul > li > ul > li > a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
	white-space: nowrap;
	font-size: 1em;
	color: var(--text-secondary);
	transition: var(--transition-default);
	gap: 8px;
}

.header .header-navigation > ul > li > ul > li > ul > li > a > i {
	font-size: 1.3em;
}

.header .header-navigation > ul > li > ul > li > ul > li:hover > a {
	color: var(--primary-color);
	letter-spacing: .5px;
	padding-left: 20px;
}

.section-banner {
	padding: 200px 0 150px;
}

.section-banner .banner-content .banner-sub {
	font-size: 1.45em;
	margin-bottom: 25px;
	font-weight: 500;
}

.section-banner .banner-content .banner-title {
	color: var(--text-primary);
	font-weight: 700;
	font-size: 3.45em;
	margin-bottom: 40px;
	line-height: 1.2;
}

.section-banner .banner-content .banner-text {
	font-size: 1.45em;
	margin: 30px 0 10px;
}

.section-banner .banner-content .banner-form .banner-form_inner {
	max-width: 80%;
	display: flex;
	padding: 12px;
	background-color: #fff;
	border-radius: 35px;
	height: 70px;
}

.section-banner .banner-content .banner-form .banner-form_inner .input-group {
	background: #fff;
	border-radius: 130px;
	padding-left: 12px;
}

.section-banner .banner-content .banner-form .banner-form_inner .input-group .input-group_icon {
	display: flex;
	align-items: center;
	color: var(--primary-color);
}

.section-banner .banner-content .banner-form .banner-form_inner .input-group .input-group_input {
	background: #fff;
	border-radius: 40px;
	border: 0 !important;
	height: 44px;
	color: var(--text-primary);
	font-size: 1.3em;
	margin-right: 10px;
	margin-left: 0 !important;
}

.section-banner .banner-content .banner-form .banner-form_inner .input-group .input-group_input::placeholder {
	font-size: 0.875em;
	opacity: .6;
}

.section-banner .banner-content .banner-form .banner-form_inner .link-default {
	background: var(--primary-color);
	border-radius: 50px !important;
	font-weight: 700;
	border: 1px solid var(--primary-color);
	margin: 0;
	font-size: 1.3em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	color: var(--bs-white);
	width: 46px;
	flex-shrink: 0;
}

.section-banner .banner-content .banner-form .banner-form_inner .link-default:hover {
	background: var(--primary-hover);
}